$primary-text-color: #212121;
$main-text-color: #757575;
$accent-color: #2196F3;
$accent-hover-color: rgba(33, 150, 243, 0.9);
$white-text-color: #ffffff;
$logo-color: #000000;
$white-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$footer-background-color: #2f303a;
$secondary-link-color: rgba(255, 255, 255, 0.6);
$border-color: #ececec;
$secondary-border-color: #eeeeee;
$icon-color: #afb1b8;
$modal-color: hsla(0, 0%, 0%, 0.1);
$modal-placeholder: rgba(117, 117, 117, 0.5);
$modal-name: rgba(117, 117, 117, 1);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 0.3s;

$font-open-sans: "Open Sans", sans-serif;
$regular-font-size: 16px;